@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
body{
	margin: 0;
	padding: 0;
}

.sparkHeader{
	background: url(../images/headerBackground.jpg);
	margin-top: 50px;
	padding-bottom: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}

header .spklogo{
	background: -webkit-linear-gradient(335deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
	background: -o-linear-gradient(335deg, rgba(255,255,255,0.1), rgba(255,255,255,0.1));
	background: linear-gradient(65deg, rgba(255,255,255,0.0), rgba(255,255,255,0.1));
	margin-top: 50px;
	border: 5px groove rgba(183,181,181,0.2);
}
.heading > h1{
	color: white;
	font-size: 60pt;
	font-family: 'Josefin Sans', sans-serif;
}
.heading > p{
	color: white;
	font-size: 24pt;
	font-family: 'Josefin Sans', sans-serif;
	right: 250px;
	float: right;
	padding-right: 230px;
}
#p2{
	font-size: 18px;
}
.hdr_button {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 50px;
	margin-right: 70px;
	float: right;
	background-color: #850c4b;
	border: 1px solid white;
	color: white;
}

.hdr_button:hover,
.hdr_button:focus{
	background-color: ghostwhite;
	border: 1px solid #850c4b;
	color: #850c4b;
}
.arrow{
	padding:50px;
	-webkit-animation-duration: 2s !important;
    animation-duration: 2s !important;
}
.arrow > a{
	color: white;
}

.arrow:hover{
	-webkit-animation-duration: 5s !important;
    animation-duration: 5s !important;
}