@charset "utf-8";
/* CSS Document */

.footer{
	background: rgba(0,0,0,1.00);
	color: white;
	padding: 2em;
	font-family: 'Josefin Sans', sans-serif;
}
.footerRights{
	font-size: 1.2em;
}

.surya{
	color: white;
}
.surya:hover,
.surya:focus{
	color: white;
}

div.fixed {
    bottom: 0;
	color: white;
	background-color: rgba(74,72,72,1.00);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
	margin: auto;
	position: fixed;
	padding: 0 10px;
	right: 0;
}